.btn {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.btn-primary {
    border: 1px solid #dddddd;
}

.btn-primary:hover {
    background-color: #eaeaea;
}

.btn-secondary {
    background-color: none;
}

.icon {
    font-size: 1rem;
}
