.header-container {
    display: flex;
    justify-content: space-between;
    height: 2.25rem;
    align-items: center;
}

.header-content-container {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.header-title {
    font-size: 1.5rem;
    font-weight: bold;
}
