.container {
    /* margin: 0 30px; */
    /* padding: 10px; */
    /* border: 1px solid #ddd; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 100vh; */
    flex: 1;
    gap: 1rem;
}

.user-part {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center;
    font-weight: normal; */
    font-size: 32px;

    color: #ddd;
}

.overlay-active {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
}

.overlay {
    display: none;
}

.modal {
    /* display: none; */
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.profile-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    align-content: center;
}

.user-card {
    background: #e0e0e0;
    border: 1px solid #999;
    padding: 10px 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: relative;
    width: 120px;
    height: fit-content;
    cursor: pointer;
}

.user-card span {
    background: blue;
    margin-left: 80px;
    color: #fff;
    border-radius: 75%;
    width: 24px;
    height: 24px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: scale 0.3s;
}

.user-card div {
    margin-top: 0.25rem;
    text-align: center;
}

.delete-btn:hover {
    scale: 1.2;
}

.user-card i {
    font-size: 40px;
}

.user-card:hover {
    background-color: #ccc;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #999;
    border-radius: 3px;
}

.new-profile-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

button {
    padding: 5px 15px;
    background-color: white;
    border: 1px solid #999;
    border-radius: 3px;
    cursor: pointer;
}
