.summary-row-content-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.coin-performance {
    color: red;
    margin-left: 1rem;
    display: none;
}
