* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    padding: 0 4rem;
}

#app {
    padding: 1rem;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    height: 100dvh;
}
